# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Coverage / test output
coverage/
.nyc_output/